In [1]:
#importing libraries
import pandas as pd
import plotly as py
import plotly.graph_objs as go
import numpy as np
from scipy import special 

py.offline.init_notebook_mode(connected=True)


#reading csv files for each year and summing the number of enterprises with <500 employees

data = pd.read_csv('us_1997.csv')
data = data[["FIRM","SICDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['SICDSCR'] == 'TOTAL OVER ALL INDUSTRIES']
data = data[:-4]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total97 = data.values.sum()


data = pd.read_csv('us_1998.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-4]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total98 = data.values.sum()


data = pd.read_csv('us_1999.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-4]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total99 = data.values.sum()


data = pd.read_csv('us_2000.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-4]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total00 = data.values.sum()


data = pd.read_csv('us_2001.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-4]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total01 = data.values.sum()


data = pd.read_csv('us_2002.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-5]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total02 = data.values.sum()


data = pd.read_csv('us_2003.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-5]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total03 = data.values.sum()


data = pd.read_csv('us_2004.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-5]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total04 = data.values.sum()


data = pd.read_csv('us_2005.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-5]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total05 = data.values.sum()


data = pd.read_csv('us_2006.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-5]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total06 = data.values.sum()


data = pd.read_csv('us_2007.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total07 = data.values.sum()


data = pd.read_csv('us_2008.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total08 = data.values.sum()


data = pd.read_csv('us_2009.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total09 = data.values.sum()


data = pd.read_csv('us_2010.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total10 = data.values.sum()


data = pd.read_csv('us_2011.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total11 = data.values.sum()


data = pd.read_csv('us_2012.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total12 = data.values.sum()


data = pd.read_csv('us_2013.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","entrsizedscr"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total13 = data.values.sum()


data = pd.read_csv('us_2014.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","entrsizedscr"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total14 = data.values.sum()


data = pd.read_csv('us_2015.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","entrsizedscr"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['NAICSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total15 = data.values.sum()


data = pd.read_csv('us_2016.csv')
data = data[["FIRM","NCSDSCR","STATEDSCR","entrsizedscr"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['NCSDSCR'] == 'Total']
data = data[:-7]
data = data[["FIRM"]]
data.FIRM = data.FIRM.astype(int)
total16 = data.values.sum()

In [2]:
#storing the total SMEs for each year in a pandas DataFrame

visData = pd.DataFrame([[1997,total97],[1998,total98],[1999,total99],[2000,total00],
                      [2001,total01],[2002,total02],
                      [2003,total03],[2004,total04],[2005,total05],[2006,total06],
                      [2007,total07],[2008,total08],[2009,total09],
                      [2010,total10],[2011,total11],[2012,total12],[2013,total13],
                      [2014,total14],[2015,total15],[2016,total16]],
                      columns=['year', 'SMEs'])

In [3]:
visData

    year      SMEs
0   1997  21472530
1   1998  21613067
2   1999  21716210
3   2000  21873970
4   2001  21890129
5   2002  22149918
6   2003  22417845
7   2004  22879102
8   2005  23273571
9   2006  23407870
10  2007  23522710
11  2008  23048428
12  2009  22437698
13  2010  22329546
14  2011  22121944
15  2012  22272390
16  2013  22456015
17  2014  22643862
18  2015  22928947
19  2016  23130614

In [4]:
#calculating the percentage change in number of SMEs and storing it in visData

visData['SMEchange']=visData.SMEs.pct_change()*100

In [5]:
visData

    year      SMEs  SMEchange
0   1997  21472530        NaN
1   1998  21613067   0.654497
2   1999  21716210   0.477225
3   2000  21873970   0.726462
4   2001  21890129   0.073873
5   2002  22149918   1.186786
6   2003  22417845   1.209607
7   2004  22879102   2.057544
8   2005  23273571   1.724145
9   2006  23407870   0.577045
10  2007  23522710   0.490604
11  2008  23048428  -2.016273
12  2009  22437698  -2.649769
13  2010  22329546  -0.482010
14  2011  22121944  -0.929719
15  2012  22272390   0.680076
16  2013  22456015   0.824451
17  2014  22643862   0.836511
18  2015  22928947   1.258995
19  2016  23130614   0.879530

In [6]:
#reading GDP growth rate data for the United states and taking the years of intrest

data = pd.read_csv("API_NY.GDP.MKTP.KD.csv")

data = data.loc[data['Country Name'] == 'United States']

data = data[['1997','1998','1999','2000','2001','2002','2003',
             '2004','2005','2006','2007','2008','2009','2010',
             '2011','2012','2013','2014','2015','2016']]

data=pd.melt(data)
data.columns=['year','GDPgrowth']

#storing GDP growth in visData
visData['GDPgrowth']= data.GDPgrowth

In [7]:
visData

    year      SMEs  SMEchange  GDPgrowth
0   1997  21472530        NaN   4.487026
1   1998  21613067   0.654497   4.449911
2   1999  21716210   0.477225   4.685200
3   2000  21873970   0.726462   4.092176
4   2001  21890129   0.073873   0.975982
5   2002  22149918   1.186786   1.786128
6   2003  22417845   1.209607   2.806776
7   2004  22879102   2.057544   3.785743
8   2005  23273571   1.724145   3.345216
9   2006  23407870   0.577045   2.666626
10  2007  23522710   0.490604   1.778570
11  2008  23048428  -2.016273  -0.291621
12  2009  22437698  -2.649769  -2.775530
13  2010  22329546  -0.482010   2.531921
14  2011  22121944  -0.929719   1.601455
15  2012  22272390   0.680076   2.224031
16  2013  22456015   0.824451   1.677332
17  2014  22643862   0.836511   2.569194
18  2015  22928947   1.258995   2.861587
19  2016  23130614   0.879530   1.485279

In [8]:
# reading Jobs Data and taking only the United States country and the unemployment indicator

data = pd.read_csv("JobsData.csv")

data = data[["Country Name","Indicator Name",
             '1997','1998','1999','2000','2001','2002','2003',
             '2004','2005','2006','2007','2008','2009','2010',
             '2011','2012','2013','2014','2015','2016']]

data = data.loc[data['Country Name'] == 'United States']
data = data.loc[data['Indicator Name'] == 'Unemployment, total (% of total labor force) (modeled ILO estimate)']

del data['Country Name']
del data['Indicator Name']

data=pd.melt(data)

data.columns=['year','Unemployment']

#storing unemployment in visData
visData['Unemployment']= data.Unemployment

In [9]:
visData

    year      SMEs  SMEchange  GDPgrowth  Unemployment
0   1997  21472530        NaN   4.487026          4.94
1   1998  21613067   0.654497   4.449911          4.51
2   1999  21716210   0.477225   4.685200          4.22
3   2000  21873970   0.726462   4.092176          3.99
4   2001  21890129   0.073873   0.975982          4.73
5   2002  22149918   1.186786   1.786128          5.78
6   2003  22417845   1.209607   2.806776          5.99
7   2004  22879102   2.057544   3.785743          5.53
8   2005  23273571   1.724145   3.345216          5.08
9   2006  23407870   0.577045   2.666626          4.62
10  2007  23522710   0.490604   1.778570          4.62
11  2008  23048428  -2.016273  -0.291621          5.78
12  2009  22437698  -2.649769  -2.775530          9.25
13  2010  22329546  -0.482010   2.531921          9.63
14  2011  22121944  -0.929719   1.601455          8.95
15  2012  22272390   0.680076   2.224031          8.07
16  2013  22456015   0.824451   1.677332          7.38
17  2014  22643862   0.836511   2.569194          6.17
18  2015  22928947   1.258995   2.861587          5.28
19  2016  23130614   0.879530   1.485279          4.87

In [10]:
#removing first row with NaN value
visData=visData.iloc[1:]

In [11]:
visData

    year      SMEs  SMEchange  GDPgrowth  Unemployment
1   1998  21613067   0.654497   4.449911          4.51
2   1999  21716210   0.477225   4.685200          4.22
3   2000  21873970   0.726462   4.092176          3.99
4   2001  21890129   0.073873   0.975982          4.73
5   2002  22149918   1.186786   1.786128          5.78
6   2003  22417845   1.209607   2.806776          5.99
7   2004  22879102   2.057544   3.785743          5.53
8   2005  23273571   1.724145   3.345216          5.08
9   2006  23407870   0.577045   2.666626          4.62
10  2007  23522710   0.490604   1.778570          4.62
11  2008  23048428  -2.016273  -0.291621          5.78
12  2009  22437698  -2.649769  -2.775530          9.25
13  2010  22329546  -0.482010   2.531921          9.63
14  2011  22121944  -0.929719   1.601455          8.95
15  2012  22272390   0.680076   2.224031          8.07
16  2013  22456015   0.824451   1.677332          7.38
17  2014  22643862   0.836511   2.569194          6.17
18  2015  22928947   1.258995   2.861587          5.28
19  2016  23130614   0.879530   1.485279          4.87

In [12]:
#saving data frame as CSV in data visualization folder 

visData.to_csv('visData.csv')

In [12]:
x = visData.year

layout = go.Layout(
    title= ' U.S. Small and Medium-sized Enterprises growth in relation to economic indicators ',
    yaxis=dict(
        title='Annual Percentage Change',
        tickmode='linear'
    ),
   
    xaxis=dict(
        title='year',
        tickmode='linear'
    ),
    
    updatemenus=list([
        dict(
            y=1.07,
            buttons=list([   
                dict(
                    args=[{'visible': [True,True,True]}],
                    label='Both indicators',
                    method='update'
                ),
                dict(
                    args=[{'visible': [False,True, True]}],
                    label='Gross Domestic<br>Product',
                    method='update'
                ),
                dict(
                    args=[{'visible': [True,False,True]}],
                    label='Unemployment',
                    method='update'
                )            
            ])
        ) 
])
    
)


trace1 = go.Scatter(
        x=x,
        y=visData.SMEchange,    
        name='SME growth',
        mode = 'lines',
     marker=dict(
            color= '#1f77b4'
            ),
    opacity = 1
        )

trace2 = go.Scatter(
        x=x,
        y=visData.GDPgrowth,
        name='GDP growth',
        mode = 'lines',
     marker=dict(
            color= '#d62728'
            ),
    
    opacity= 0.7

)



trace3 = go.Scatter(
        x=x,
        y=visData.Unemployment,
        name='Unemployment rate',
        mode = 'lines',
         marker=dict(
            color= '#f9812a'
             #e07117'
             #ff7f0e'
            ),
    opacity=1
        )


       
data = [trace3,trace2,trace1]
   
fig = go.Figure(data=data,layout=layout)

py.offline.iplot(fig)

In [13]:

#grouping SMEs by sector (3 sectors for each year)

#1998 
data = pd.read_csv('us_1998.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['ENTRSIZEDSCR'] != '500-999 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-2,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500 + employees']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total98Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total98Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health care & social assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total98Healthcare = newdata4.values.sum()

#1999
data = pd.read_csv('us_1999.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['ENTRSIZEDSCR'] != '500-999 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-2,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500 + employees']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total99Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total99Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health care & social assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total99Healthcare = newdata4.values.sum()


#2000
data = pd.read_csv('us_2000.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['ENTRSIZEDSCR'] != '500-999 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-2,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500 + employees']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total00Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total00Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health care & social assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total00Healthcare = newdata4.values.sum()


#2001
data = pd.read_csv('us_2001.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['ENTRSIZEDSCR'] != '500-999 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-2,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500 + employees']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total01Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total01Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health care & social assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total01Healthcare = newdata4.values.sum()


#2002
data = pd.read_csv('us_2002.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-2,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500 + employees']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total02Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total02Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health care & social assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total02Healthcare = newdata4.values.sum()

#2003
data = pd.read_csv('us_2003.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-2,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500 + employees']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total03Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total03Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total03Healthcare = newdata4.values.sum()


#2004
data = pd.read_csv('us_2004.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-2,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500 + employees']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total04Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total04Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total04Healthcare = newdata4.values.sum()


#2005
data = pd.read_csv('us_2005.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-2,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500 + employees']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total05Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total05Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total05Healthcare = newdata4.values.sum()

#2006
data = pd.read_csv('us_2006.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-2,499 employees']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500 + employees']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total06Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total06Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total06Healthcare = newdata4.values.sum()

#2007
data = pd.read_csv('us_2007.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-1,999']
data= data.loc[data['ENTRSIZEDSCR'] != '2,000-2,499']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500-4,999']
data= data.loc[data['ENTRSIZEDSCR'] != '5,000 +']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total07Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total07Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total07Healthcare = newdata4.values.sum()

#2008
data = pd.read_csv('us_2008.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-1,999']
data= data.loc[data['ENTRSIZEDSCR'] != '2,000-2,499']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500-4,999']
data= data.loc[data['ENTRSIZEDSCR'] != '5,000 +']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total08Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total08Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health care and social assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total08Healthcare = newdata4.values.sum()

#2009
data = pd.read_csv('us_2009.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-1,999']
data= data.loc[data['ENTRSIZEDSCR'] != '2,000-2,499']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500-4,999']
data= data.loc[data['ENTRSIZEDSCR'] != '5,000 +']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total09Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total09Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health care and social assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total09Healthcare = newdata4.values.sum()

#2010
data = pd.read_csv('us_2010.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-1,999']
data= data.loc[data['ENTRSIZEDSCR'] != '2,000-2,499']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500-4,999']
data= data.loc[data['ENTRSIZEDSCR'] != '5,000 +']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total10Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total10Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health care and social assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total10Healthcare = newdata4.values.sum()

#2011
data = pd.read_csv('us_2011.csv')
data = data[["FIRM","NAICSDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['ENTRSIZEDSCR'] != '500-749']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-1,999']
data= data.loc[data['ENTRSIZEDSCR'] != '2,000-2,499']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500-4,999']
data= data.loc[data['ENTRSIZEDSCR'] != '5,000 +']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total11Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total11Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health care and social assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total11Healthcare = newdata4.values.sum()

#2012
data = pd.read_csv('us_2012.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","ENTRSIZEDSCR"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['ENTRSIZEDSCR'] != '500-749']
data= data.loc[data['ENTRSIZEDSCR'] != '750-999']
data= data.loc[data['ENTRSIZEDSCR'] != '1,000-1,499']
data= data.loc[data['ENTRSIZEDSCR'] != '1,500-1,999']
data= data.loc[data['ENTRSIZEDSCR'] != '2,000-2,499']
data= data.loc[data['ENTRSIZEDSCR'] != '2,500-4,999']
data= data.loc[data['ENTRSIZEDSCR'] != '5,000 +']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total12Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total12Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total12Healthcare = newdata4.values.sum()

#2013
data = pd.read_csv('us_2013.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","entrsizedscr"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['entrsizedscr'] != '500-749']
data= data.loc[data['entrsizedscr'] != '750-999']
data= data.loc[data['entrsizedscr'] != '1,000-1,499']
data= data.loc[data['entrsizedscr'] != '1,500-1,999']
data= data.loc[data['entrsizedscr'] != '2,000-2,499']
data= data.loc[data['entrsizedscr'] != '2,500-4,999']
data= data.loc[data['entrsizedscr'] != '5,000 +']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total13Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total13Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total13Healthcare = newdata4.values.sum()

#2014
data = pd.read_csv('us_2014.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","entrsizedscr"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['entrsizedscr'] != '500-749']
data= data.loc[data['entrsizedscr'] != '750-999']
data= data.loc[data['entrsizedscr'] != '1,000-1,499']
data= data.loc[data['entrsizedscr'] != '1,500-1,999']
data= data.loc[data['entrsizedscr'] != '2,000-2,499']
data= data.loc[data['entrsizedscr'] != '2,500-4,999']
data= data.loc[data['entrsizedscr'] != '5,000 +']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total14Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total14Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total14Healthcare = newdata4.values.sum()

#2015
data = pd.read_csv('us_2015.csv')
data = data[["FIRM","NAICSDSCR","STATEDSCR","entrsizedscr"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['entrsizedscr'] != '500-749']
data= data.loc[data['entrsizedscr'] != '750-999']
data= data.loc[data['entrsizedscr'] != '1,000-1,499']
data= data.loc[data['entrsizedscr'] != '1,500-1,999']
data= data.loc[data['entrsizedscr'] != '2,000-2,499']
data= data.loc[data['entrsizedscr'] != '2,500-4,999']
data= data.loc[data['entrsizedscr'] != '5,000 +']
newdata = data[["FIRM","NAICSDSCR"]]
newdata= newdata.loc[data['NAICSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total15Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NAICSDSCR"]]
newdata3 = newdata3.loc[data['NAICSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total15Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NAICSDSCR"]]
newdata4 = newdata4.loc[data['NAICSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total15Healthcare = newdata4.values.sum()

#2016
data = pd.read_csv('us_2016.csv')
data = data[["FIRM","NCSDSCR","STATEDSCR","entrsizedscr"]]
data= data.loc[data['STATEDSCR'] == 'United States']
data= data.loc[data['entrsizedscr'] != '500-749']
data= data.loc[data['entrsizedscr'] != '750-999']
data= data.loc[data['entrsizedscr'] != '1,000-1,499']
data= data.loc[data['entrsizedscr'] != '1,500-1,999']
data= data.loc[data['entrsizedscr'] != '2,000-2,499']
data= data.loc[data['entrsizedscr'] != '2,500-4,999']
data= data.loc[data['entrsizedscr'] != '5,000 +']
newdata = data[["FIRM","NCSDSCR"]]
newdata= newdata.loc[data['NCSDSCR'] == 'Manufacturing']
newdata = newdata[["FIRM"]]
newdata.FIRM = newdata.FIRM.astype(int)
total16Manufacturing = newdata.values.sum()

newdata3 = data[["FIRM","NCSDSCR"]]
newdata3 = newdata3.loc[data['NCSDSCR'] == 'Educational Services']
newdata3 = newdata3[["FIRM"]]
newdata3.FIRM = newdata3.FIRM.astype(int)
total16Educationalservices = newdata3.values.sum()

newdata4 = data[["FIRM","NCSDSCR"]]
newdata4 = newdata4.loc[data['NCSDSCR'] == 'Health Care and Social Assistance']
newdata4 = newdata4[["FIRM"]]
newdata4.FIRM = newdata4.FIRM.astype(int)
total16Healthcare = newdata4.values.sum()

In [14]:

sectorData = pd.DataFrame([[1998,total98Manufacturing,total98Educationalservices,total98Healthcare],
                      [1999,total99Manufacturing,total99Educationalservices,total99Healthcare],
                      [2000,total00Manufacturing,total00Educationalservices,total00Healthcare],
                      [2001,total01Manufacturing,total01Educationalservices,total01Healthcare],
                      [2002,total02Manufacturing,total02Educationalservices,total02Healthcare],
                      [2003,total03Manufacturing,total03Educationalservices,total03Healthcare],
                      [2004,total04Manufacturing,total04Educationalservices,total04Healthcare],
                      [2005,total05Manufacturing,total05Educationalservices,total05Healthcare],
                      [2006,total06Manufacturing,total06Educationalservices,total06Healthcare],
                      [2007,total07Manufacturing,total07Educationalservices,total07Healthcare],
                      [2008,total08Manufacturing,total08Educationalservices,total08Healthcare],
                      [2009,total09Manufacturing,total09Educationalservices,total09Healthcare],
                      [2010,total10Manufacturing,total10Educationalservices,total10Healthcare],
                      [2011,total11Manufacturing,total11Educationalservices,total11Healthcare],
                      [2012,total12Manufacturing,total12Educationalservices,total12Healthcare],
                      [2013,total13Manufacturing,total13Educationalservices,total13Healthcare],
                      [2014,total14Manufacturing,total14Educationalservices,total14Healthcare],
                      [2015,total15Manufacturing,total15Educationalservices,total15Healthcare],
                      [2016,total16Manufacturing,total16Educationalservices,total16Healthcare]],
                      columns=['year', 'Manufacturing','Educational','Healthcare'])

In [15]:
sectorData

    year  Manufacturing  Educational  Healthcare
0   1998        1160218       215295     2028736
1   1999        1136553       219026     2014335
2   2000        1114988       223458     2042444
3   2001        1113006       233966     2075170
4   2002        1106645       245249     2162761
5   2003        1097697       256921     2219821
6   2004        1089842       265638     2269229
7   2005        1071292       270719     2313986
8   2006        1060852       275726     2336938
9   2007        1065019       288556     2373274
10  2008        1045463       294130     2394404
11  2009         992619       294878     2413350
12  2010         966789       298311     2435175
13  2011         950933       302177     2443230
14  2012         954945       316513     2470002
15  2013         940833       325261     2497838
16  2014         940315       330650     2514465
17  2015         939371       339368     2536368
18  2016         932835       345527     2551969

In [16]:
trace0 = go.Bar(
    x=sectorData.year,
    y=sectorData.Manufacturing,
    name='Manufactoring',
    marker=dict(
        opacity=0.7,
        color='green'
    )
)


trace1 = go.Bar(
    x=sectorData.year,
    y=sectorData.Educational,
    name='Educational Services',
    marker=dict(
        opacity=0.8,
        color='rgb(49,54,149)'
        #purple'
        #cadetblue'
    )
)

trace2 = go.Bar(
    x=sectorData.year,
    y=sectorData.Healthcare,
    name='Health Care and<br>Social Assistance',
    marker=dict(
        opacity=0.59,
        color='orange',
    )
)


data = [trace1,trace0,trace2]
layout = go.Layout(
    title='Number of SMEs in the United States by sector',
    xaxis=dict(title='Year',
               tickmode='linear'
         ),
    yaxis=dict(
               title='Number of SMEs (in millions)',
               tickprefix="   "
         ),
    
    barmode='group'
   
)

fig = go.Figure(data=data, layout=layout)
py.offline.iplot(fig)

In [17]:
# reading mortality data and taking the united states country and the number of 
# under-5 deaths for the same period of time 

data = pd.read_csv('mortality data.csv')

data = data.loc[data['Country'] == 'United States of America']

data = data.loc[data['Year'].isin(['1998','1999','2000','2001','2002','2003',
                                   '2004','2005','2006','2007','2008','2009','2010',
                                   '2011','2012','2013','2014','2015','2016'])]

data = data[['Year','Number of under-five deaths (thousands)']]

data.columns=['Year','mortality']

data = data.iloc[::-1]
      
data = data.reset_index(drop=True)

data['mortality']  = data['mortality'].astype('int')

sectorData['mortality']= data.mortality

In [18]:
sectorData

    year  Manufacturing  Educational  Healthcare  mortality
0   1998        1160218       215295     2028736         34
1   1999        1136553       219026     2014335         34
2   2000        1114988       223458     2042444         33
3   2001        1113006       233966     2075170         33
4   2002        1106645       245249     2162761         33
5   2003        1097697       256921     2219821         33
6   2004        1089842       265638     2269229         33
7   2005        1071292       270719     2313986         33
8   2006        1060852       275726     2336938         32
9   2007        1065019       288556     2373274         32
10  2008        1045463       294130     2394404         31
11  2009         992619       294878     2413350         31
12  2010         966789       298311     2435175         30
13  2011         950933       302177     2443230         29
14  2012         954945       316513     2470002         28
15  2013         940833       325261     2497838         28
16  2014         940315       330650     2514465         27
17  2015         939371       339368     2536368         27
18  2016         932835       345527     2551969         27

In [66]:
#saving data frame as CSV in data visualization folder 
sectorData.to_csv('Sectors and mortality.csv')

In [19]:
hover_text = []
for index, row in sectorData.iterrows():
    hover_text.append(('Number of under-five deaths (in thousands): {mor}').format(mor=row['mortality']))


trace0 = go.Scatter(
    x=sectorData.year,
    y=sectorData.Healthcare,
    mode='markers',
    text=hover_text,
    
    marker=dict(size= sectorData.mortality, #*3.779528,
             sizeref =2.0 * max(sectorData.mortality) / (10 ** 2), #0.75559,   
             color='orange',
             opacity= 0.59,
             sizemode='diameter'
             #0.1699,
               )
)

layout = go.Layout(
    title='Health care and social assistance SMEs effect on the population heath in the United States <br>Bubble size: Number of under-five years old deaths (in thousands)',
    
    xaxis=dict(title='Years',
               tickmode='linear',
               ticklen= 5
         ),
     yaxis=dict(
               title='Number of health care and social assistance SMEs',
               ticklen= 5,
               tickprefix="    ",
               #dtick=125000,
               #range=[0, 2551969]
         )
)

data = [trace0]
fig = go.Figure(data=data, layout=layout)
py.offline.iplot(fig)

#sectorData